NODE_ENV="development"
PORT=8080
DEFAULT_LANGUAGE=es-ES
DATABASE_HOST=localhost
DATABASE_DIALECT=mysql
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=telegram-bot
MONGODB_URI=
REDIS_URL=
OPENAI_API_KEY=
OPENAI_ASSISTANT_CHATBOT_ID=
TELEGRAM_ADMIN_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
GOOGLE_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
API_URL=
JWT_SECRET=
SESSION_SECRET=